<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: header"></head>
<body>
<div th:replace="header :: navbar"></div>

<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 mx-auto">
            <h2 class="text-info text-center font-weight-bold">Add Book</h2>
            <form th:action="@{/saveBook}" method="post" th:object="${book}">
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${book.isbn}" placeholder="ISBN" name="isbn" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${book.title}" placeholder="Title" name="title" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${book.releaseYear}" placeholder="Release Year" name="releaseYear" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:value="${book.quantity}" placeholder="Quantity" name="quantity" required>
                </div>
                <div class="form-group">
                    <label for="cat">Select category:</label>
                    <select id="cat" class="form-control" th:field="*{category}" required>
                        <option th:each="category : ${categories}" th:value="${category}" th:text="${category}">
                    </select>
                </div>
                <div class="form-group">
                    <label for="auth">Select author(s):</label>
                    <select multiple id="auth" class="form-control" th:field="*{authors}" required>
                        <option th:each="author : ${authors}" th:value="${{author}}" th:text="${author}">
                    </select>
                    <a class="btn btn-link my-2" th:href="@{/addAuthor}">Add author</a>
                </div>
                <button class="btn btn-outline-info">Save</button>
                <a href="/" type="button" class="btn btn-outline-danger float-right">Cancel</a>
            </form>
        </div>
    </div>
</div>

</body>
</html>