<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: header"></head>
<body>
<div th:replace="header :: navbar"></div>

<!--List books-->
<div class="container">
    <div class="row my-5">
        <div class="col-sm-10 mx-auto">
            <h2 class="text-info text-center font-weight-bold">Orders</h2>
            <table class="table">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Postal Code</th>
                    <th scope="col">Books</th>
                    <th scope="col">Date ordered</th>
                </tr>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.shipping}"></td>
                    <td th:text="${order.shipping.address}"></td>
                    <td th:text="${order.shipping.postalCode}"></td>
                    <td th:text="${#strings.arrayJoin(order.books, ', ')}"></td>
                    <td th:text="${order.date}"></td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/addOrder}" class="btn btn-outline-info float-right" role="button">Add order</a>
        </div>
    </div>
</div>
</body>
</html>